#parse("/web/global/layout.vm")
#@mainLayout()
<form id="storeForm" method="post">
    <iframe frameborder="0" style="min-height: 615px;" scrolling="yes" height="100%" width="100%" src="http://kitpvprip.buycraft.net"></iframe>
</form>
#end